{% extends 'base.html' %} {% load static %} {% block content %}

<div>
    <div class="container"></div>
        <h1 class="text-6xl font-bold">About Us</h1>

        <p class="text-lg mt-4 text-gray-200">
            Welcome to your personalized Spotify Wrapped experience! Unlike the official Wrapped, which is available just once a year, this project allows you to create your own Wrapped any time you want. Discover your top songs, artists, and genres with flexible time spans that you can adjust to see your listening habits over any period—be it a week, a month, or even the last six months. Customize your Wrapped to capture the music moments that matter most to you and share your unique sound profile whenever you like!
        </p>



        <!--Feedback Section-->
        <div class="feedback-section">
            <h8>Have Feedback?</h8>
            <textarea placeholder="Send us suggestions here!"></textarea>
            <div class="stars" id="starRating">
                <span class="star" data-value="1">&#9734;</span>
                <span class="star" data-value="2">&#9734;</span>
                <span class="star" data-value="3">&#9734;</span>
                <span class="star" data-value="4">&#9734;</span>
                <span class="star" data-value="5">&#9734;</span>
            </div>
        
            <button>Submit</button>
        </div>

        <!--Development Team Section-->
        <div class="team-selection">
            <h9>About the Development Team</h9>
            <div class="team-members">
                <div class="member">
                    <div class="avatar" style="background-image: url('{% static 'esther.png' %}')"></div>
                <p>Esther</p>
                </div>
                <div class="member">
                    <div class="avatar" style="background-image: url('{% static 'karolina.png' %}')"></div>
                    <p>Karolina</p>
                </div>
                <div class="member">
                    <div class="avatar" style="background-image: url('{% static 'sabrina.png' %}')"></div>
                    <p>Sabrina</p>
                </div>
                <div class="member">
                    <div class="avatar" style="background-image: url('{% static 'shreyas.png' %}')"></div>
                    <p>Shreyas</p>
                </div>
                <div class="member">
                    <div class="avatar" style="background-image: url('{% static 'aakrishtaa.png' %}')"></div>
                    <p>Aakrishtaa</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}