<div class="py-10" id="">
    <div id="post-list">
        {% for post in posts %}
        <div class="bg-gray-800 text-white rounded-full px-4 py-2 m-2">
            {{ post.user }}
            {{ post.created_at }}
            {{ post.wrap }}
            {% for user in post.liked_by.all %}
                {{ user.id }}
            {% endfor %}
            <form method="POST" action="#" class="mb-2">
                {% csrf_token %}
                <button type="submit" id="heartButton" name="favorite" class="flex items-center p-2 mt-4 bg-black rounded-lg shadow hover:bg-gray-200 transition duration-300">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                  {% if user in post.liked_by.all %}
                  <i class="fa-solid fa-heart"></i>
                  {% else %}
                  <i class="fa-regular fa-heart"></i>
                  {% endif %}
                </button>
                <div class="text-white">
                    Number of likes: {{ post.liked_by.all|length }}
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>